{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
            
        </div>

        <form class="formulario" method="get" action="login/">
            {% csrf_token %}
            <div class="texto-formulario">
                <h2>Clinica Especializada</h2>
                <p>Inicia sesión con tu cuenta</p>
            </div>
            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="Ingresa tu nombre" type="text" name="usuario" required>
            </div>
            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="Ingresa tu contraseña" type="password" name="password" required>
            </div>
            <div class="input">
                <label for="rol">rol</label>
                <select name="rol" required>
                    <option value="Administrador">Administrador</option>
                    <option value="RH">RH</option>
                    <option value="Medico">Médico</option>
                    <option value="Enfermera">Enfermera</option>
                </select>
            </div>
            <div class="input">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

</body>

</html>
